<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <%- include ('partials/head.html')%>
    </head>

    <body>

        <%- include ('partials/navigation.html')%>

        <div class="container">
            <header class="row">
                <div class="col-lg-12 text-center">
                    <img class="animate__animated animate__bounceIn" src="img/pews-logo.png" alt="">
                </div>
            </header>
        </div>

        <div class="container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam tempore at sint adipisci error debitis ipsa perferendis ut dolorem, nesciunt vitae repudiandae doloremque, incidunt, pariatur cupiditate aut rem distinctio atque.
            In et aliquid aut odit, veritatis porro modi numquam voluptatem dolores iure consequuntur minima. Cupiditate modi magni asperiores. Non eligendi blanditiis eum dolorum. Asperiores, voluptatem aliquid! Ad libero dignissimos rem.
            Esse suscipit, voluptatum maxime alias similique, omnis aut incidunt dicta quisquam natus voluptate laudantium voluptatibus nostrum. Assumenda sapiente ipsum eveniet qui fugiat? Similique animi sapiente facere recusandae odio cumque totam!
            Itaque aliquam iure id corrupti quibusdam tempore, ut maxime velit quisquam nisi in magnam facere deleniti odit ratione reprehenderit quod at cupiditate voluptatem. Repellat, sequi. Deserunt ducimus illum iure culpa!
            Fuga obcaecati repellendus aliquid velit eveniet? Esse, inventore dicta accusamus voluptate ipsum maxime pariatur nostrum repellat placeat ex aspernatur, delectus molestias quae dolorum magnam nulla optio? Itaque consequuntur id deserunt?</p>
        </div>

        <div class="container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam tempore at sint adipisci error debitis ipsa perferendis ut dolorem, nesciunt vitae repudiandae doloremque, incidunt, pariatur cupiditate aut rem distinctio atque.
            In et aliquid aut odit, veritatis porro modi numquam voluptatem dolores iure consequuntur minima. Cupiditate modi magni asperiores. Non eligendi blanditiis eum dolorum. Asperiores, voluptatem aliquid! Ad libero dignissimos rem.
            Esse suscipit, voluptatum maxime alias similique, omnis aut incidunt dicta quisquam natus voluptate laudantium voluptatibus nostrum. Assumenda sapiente ipsum eveniet qui fugiat? Similique animi sapiente facere recusandae odio cumque totam!
            Itaque aliquam iure id corrupti quibusdam tempore, ut maxime velit quisquam nisi in magnam facere deleniti odit ratione reprehenderit quod at cupiditate voluptatem. Repellat, sequi. Deserunt ducimus illum iure culpa!
            Fuga obcaecati repellendus aliquid velit eveniet? Esse, inventore dicta accusamus voluptate ipsum maxime pariatur nostrum repellat placeat ex aspernatur, delectus molestias quae dolorum magnam nulla optio? Itaque consequuntur id deserunt?</p>
        </div>
        
        <div class="container-fluid" id="about">
            <div class="row bg-dark text-white p-5 text-center">
                <div class="col-sm-6">
                    <i class="fab fa-youtube fa-10x"></i>
                </div>
                <div class="col-sm-6">
                    <h3>The most subcribed yotuber</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam, enim a quae totam distinctio animi adipisci vitae veritatis, aliquid provident illo doloremque laborum non, odit debitis porro eum. Nemo, in.
                    Nulla, repellat, voluptates distinctio quaerat quis iure quasi nobis voluptatum tempore saepe, repellendus ipsum! Dolor, rem officiis! Porro libero consequuntur labore, nesciunt dolor eaque quasi earum impedit, ipsa dolore eos!</p>
                </div>
            </div>
        </div>

        <%- include ('partials/footer.html')%>

    </body>

</html>